<h1 class="page-header">
  Integrations
</h1>

<p class="page-content">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
  Sequi tempora quaerat reprehenderit reiciendis ratione sunt 
  porro nobis voluptatem assumenda aliquam quo minima exercitationem 
  ad ea necessitatibus, cumque deserunt. Soluta perferendis nemo 
  fugiat cupiditate dolore rem consequatur quam commodi repudiandae 
  corporis, corrupti tenetur repellendus quaerat vel iste perspiciatis 
  praesentium dolorem quasi animi deserunt. Laudantium, qui deleniti 
  quae quasi illum iste cum voluptas, similique quos error, optio animi 
  autem commodi molestiae consequatur dolorem quas nulla. Optio non corporis, 
  dolorum architecto tempora quo quae alias aspernatur quidem quam 
  consectetur eligendi reiciendis suscipit deserunt!
</p>
