body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
}

* {
  box-sizing: border-box;
}

.page-header {
  font-size: 25px;
  font-weight: bold;
}

.page-content {
  font-size: 16px;
}

.page-content-section {
  margin: 20px 0;
}
.page-content-section:after {
  content: '';
  position: relative;
  display: block;
  clear: both;
}

.link {
  color: #f26129;
  text-decoration: none;
}
.link:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid #f26129;
}

.label {
  font-weight: bold;
}

.button {
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #f26129;
  cursor: pointer;
  transition: background-color .2s;
}
.button:hover {
  background-color: #ff4400;
}

.input-field {
  margin-top: 5px;
  padding: 7px;
  display: block;
  border: 1px solid #ddd;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}