<h1 class="page-header">
  General
</h1>

<div class="page-content">
  <div class="page-content-section">
    <span class="label">Account ID:</span> 40NM-11605 <a href="#" class="link"> (Get my code snippet) </a>
  </div>

  <div class="page-content-section">
    <span class="label">Account Type:</span> Free <a href="#" class="link"> (Upgrade) </a>
  </div>


  <div  class="page-content-section">
    <div class="label">Name</div>
    <input type="text" class="input-field">
  </div>

  <div  class="page-content-section">
    <div class="label">Website URL</div>
    <input type="text" class="input-field">
  </div>


  <div class="page-content-section">
    <button class="button"> Save </button>
  </div>


  <div class="page-content-section cancellation-section">
    <p> Need to cancel your account? </p>
    <p> Contact support to <a href="#" class="link">request cancellation</a>. </p>
  </div>
</div>
